body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.calculator {
  position: relative;
  width: 600px;
  height: 600px;
  background: url("images/gold-heart-calculator-background.png") no-repeat
    center center;
  background-size: contain; /* Ensures the full image is visible */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  box-shadow: 6px 6px 100px rgba(0, 0, 0, 0.3); /* Adds a box shadow to the calculator */
  overflow: hidden;
}

.display {
  width: 80%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
  padding: 9px;
  box-shadow: inset 0 0 10px rgba(22, 5, 177, 0.808); /* Stronger inset shadow for a sunken effect */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 280px;
}

.gem-button {
  background-color: transparent;
  border: none;
  border-radius: 22%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.gem-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Assign unique images to each button */
.gem-0 {
  background-image: url("images/button-0.png");
}
.gem-1 {
  background-image: url("images/button-1a.png");
}
.gem-2 {
  background-image: url("images/button-2.png");
}
.gem-3 {
  background-image: url("images/button-3.png");
}
.gem-4 {
  background-image: url("images/button-4.png");
}
.gem-5 {
  background-image: url("images/button-5.png");
}
.gem-6 {
  background-image: url("images/button-6.png");
}
.gem-7 {
  background-image: url("images/button-7.png");
}
.gem-8 {
  background-image: url("images/button-8.png");
}
.gem-9 {
  background-image: url("images/button-9.png");
}
.gem-decimal {
  background-image: url("images/button-calc.png");
}
.gem-equal {
  background-image: url("images/button-calc.png");
}
.gem-add {
  background-image: url("images/button-calc.png");
}
.gem-subtract {
  background-image: url("images/button-calc.png");
}
.gem-multiply {
  background-image: url("images/button-calc.png");
}
.gem-divide {
  background-image: url("images/button-calc.png");
}
.gem-percent {
  background-image: url("images/button-calc.png");
}
.gem-sqrt {
  background-image: url("images/button-calc.png");
}
.gem-memory {
  background-image: url("images/button-calc.png");
}
.gem-clear {
  background-image: url("images/button-calc.png");
}
